<% include partials/header %>
    <!-- content -->
    <div class="ui main text container segment">
      <div class="ui huge header">Movies</div>
      <div class="ui cards">
        <% movies.forEach(function(movie) { %>
          <div class="ui card">
            <div class="image">
              <img src="<%= movie.image %>">
            </div>
            <div class="content">
              <a href="/movies/<%= movie._id %>" class="header"><%= movie.title %></a>
            </div>
          </div>
        <% }); %>
      </div>
    </div>
<% include partials/footer %>
