<% include ../partials/header %>

<div class="ui main text container segment">
  <div class="ui huge header">New Actor</div>
    <form class="ui form" action="/movies/<%= movie._id %>/actors" method="POST">
      <div class="field">
        <label>First name</label>
        <input type="text" placeholder="first name" name="actor[firstName]">
      </div>
      <div class="field">
        <label>Last name</label>
        <input type="text" placeholder="last name" name="actor[lastName]">
      </div>
      <div class="field">
        <label>Picture</label>
        <input type="text" placeholder="picture" name="actor[picture]">
      </div>
      <div class="field">
        <input type="Submit" class="ui primary button">
      </div>
    </form>
</div>

<% include ../partials/footer %>
